<?xml version="1.0" encoding="UTF-8"?>
<!-- 配置Spring MVC -->
<!-- 命名空间从 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- 注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 处理静态资源 -->
	<mvc:default-servlet-handler/>
	
	<!-- 配置视图解析器,如何找到JSP页面  -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<!-- JSP作为View 将view的名字与配置组成URL -->
		<!-- url为： /WEB-INF/pages/视图名.jsp -->
		<property name="prefix" value="/WEB-INF/pages/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 注解的扫描包 -->
	<!--<context:component-scan base-package="com.yc.project.web"></context:component-scan>-->
	
	
</beans>